################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SystemCollection/.vs/SystemCollection/v16/Server/sqlite3/db.lock
/SystemCollection/.vs/SystemCollection/v16/Server/sqlite3/storage.ide
/SystemCollection/.vs/SystemCollection/v16/Server/sqlite3/storage.ide-shm
/SystemCollection/.vs/SystemCollection/v16/Server/sqlite3/storage.ide-wal
/SystemCollection/.vs/SystemCollection/v16/.suo
